           footer {
                display: flex;
                flex-flow: row wrap;
                padding: 50px;
                background-color: rgb(0, 110, 255);
                color: #fff;
            }
            
           .footer-logo {
                font-size: 30px;
                font-weight: bold;
            }
            
            .footer-left {
                margin-right: 420px;
                margin-top: 40px;
                text-align: left;
            }
            
            .footer-left h3 {
                font-weight: lighter;
            }
            
            .footer-right>* {
                flex: 1 50%;
            }
            
            .footer-right {
                margin-top: 40px;
            }
            
            .footer-right h4 {
                font-size: 18px;
                opacity: 0.8;
            }
            
            .footer-right p {
                font-size: 15px;
                opacity: 0.8;
            }
            
            .footer-bottom {
                margin-top: 40px;
                margin-left: 500px;
            }
            
            .footer-bottom p {
                font-size: 15px;
                opacity: 0.8;
            }
            
            
            @media (max-width: 768px) {
                .footer {
                    width: 100%;
                    float: none;
                }
            }
            
            @keyframes puterin {
                100% {
                    transform: rotate(360deg);
                }
            }